:root {
	--color: rgb(28, 231, 28)
}

/* containers */
html,
body {
	margin: 0;
}

body {
	font-family: Inter, monospace;
	background-color: rgb(69, 64, 73);
	color: var(--color);
	text-align: center;
	height: 100vh;
}


.page {
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

main {
	flex: 1;
}

/* titles */
h1 {
	margin: 2vh;
}

h2,
h3 {
	margin-top: 0;
	margin-bottom: 0;
}

#intro {
	margin-bottom: max(50px, 5vh);
}


/* boxes */
.box-header {
	text-align: left;
	margin-bottom: 0.5vh;
}

.box {
	max-width: fit-content;
	border-radius: 25px;
	padding: 10px;
	border: 1px solid var(--color);
	line-height: 250%;
	font-size: clamp(12px, 20px, 40px);
}

.boxes {
	display: flex;
	gap: 10vw;
	margin-bottom: 10vh;
	margin: 0px 5vw 10vh 5vw
}


/* footer */
footer {
	width: 100%;
}

footer * {
	list-style: none;
}

.footer-sections {
	font-size: clamp(12px, 20px, 40px);
	background-color: black;
	margin: 0;
	padding: 10px;
	display: flex;
	justify-content: space-around;
}


.footer-section ul {
	padding: 0;
}

.footer-section p {
	font-weight: bold;
}

@media screen and (max-width: 800px) {
	.footer-sections {
		flex-direction: column;
	}

	.footer-section:not(.footer-section:first-of-type) {
		border-top: 1px solid var(--color)
	}

	.pics button {}
}

/* links */
a:not(.btn) {
	color: inherit;
	text-decoration-style: dotted;
	text-underline-offset: 0.2rem
}

a:not(.btn):hover {
	text-decoration: underline;
}

a.quiet {
	text-decoration: none;
}

a.small {
	font-size: 15px;
}

a.pronouns {
	margin: 0;
}

/* focus */
button:focus,
a:focus,
input:focus,
textarea:focus,
select:focus {
	outline: none;
}

button:focus-visible,
a:focus-visible,
input:focus-visible,
textarea:focus-visible,
select:focus-visible {
	outline: 1px solid var(--color);
}